.first {
    height: 100vh;
    @extend %bg-image;
    background-image: url('../img/decor/first-screen/2-layers.png');
    @include flex-center;
}

.container--first {
    width: 95%; 
    max-width: $view-port;
    flex-direction: column; 
    // border: 1px solid #ffffff;
}

.first-middle {
    max-width: $view-port;
    height: 100%;
    display: flex;
    align-items: center; // border: 1px solid #ffffff;
    @include tablets {
        margin-top: 0;
        width: 95%;
        flex-direction: column;
    }
}

.first-image {
    display: inline-block;
    // border: 1px solid #ffffff;
    width: 50%;
    @include tablets {
        @include flex-center;
        height: 60vh;
        width: 100%;
    }
    &__img {
        // border: 1px solid #fd7373; 
    }
}

.first-slogan {
    width: 50%;
    // border: 1px solid #ffffff;
    padding-left: rem(50px);
    @include tablets {
        @include flex-center;
        height: 40vh;
        width: 100%;
        padding-left: 0;
    }
}

.title {
    font-family: 'Gagalin-Regular';
    font-size: rem(72px);
    font-weight: 400;
    line-height: rem(85px);
    text-align: center;
    &--yellow {
        color: $yellow;
        margin-bottom: rem(50px);
    }
    @include tablets {
        margin-top: rem(10px);
        margin-bottom: 0;
        font-size: rem(52px);
        font-weight: 400;
        line-height: rem(45px);
        // border: 1px solid #ffffff; 
    }
    @include phones {
        font-size: rem(42px);
        line-height: rem(35px);
        margin-top: 0;
    }
}

.text--lifehack {
    font-family: 'Lifehack-Medium';
    color: $white;
    font-size: rem(65px);
    font-weight: 400;
    line-height: rem(80px);
    @include tablets {
        margin-top: rem(10px);
        font-size: rem(45px);
        font-weight: 400;
        line-height: rem(40px);
        text-align: center;
        // border: 1px solid #ffffff;
        width: 100%;
    }
    @include phones {
        font-size: rem(35px);
        line-height: rem(30px);
    }
}

.arrow-scroll {
    margin-bottom: rem(30px); // border: 1px solid #ffffff;
    width: rem(30px);
    height: rem(14px);
    display: flex;
    align-items: stretch;
    &__link {
        height: 100%;
        display: block;
        @extend %bg-image;
        background-image: url('../img/decor/first-screen/arrow-scroll.png');
    }
}