.form {
    height: 100vh;
    @extend %bg-image;
    background: #000000;
    opacity: 0.9;
    background-image: url('../img/decor/form/bg-texture.png');
}

.container--form {
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.form {
    &-order {
        width: 80%; // border: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        color: $white;
        &__left {
            width: 50%;
            padding-right: rem(10px);
            // border: 1px solid #ffffff;
            display: flex;
            flex-direction: column;
        }
        &__right {
            width: 50%;
            padding-left: rem(10px);
            // border: 1px solid #ffffff;
        }
        &__row {
            display: flex;
            justify-content: center;
            margin-bottom: rem(20px);
            font-size: rem(14px);
            font-weight: 300;
            line-height: rem(24px);
            &--left {
                justify-content: flex-start;
            }
        }
        &__label {
            margin-left: rem(5px);
            flex-grow: 1;
            width: 90%;
        }
        &__input {
            height: rem(35px);
            border-radius: rem(5px);
            border: none;
            padding-left: rem(10px);
            width: 100%;
            &:focus {
                border: rem(3px) solid $yellow;
            }
            &::-webkit-input-placeholder {
                padding-left: rem(10px);
            }
        }
        &__textarea-label {
            // border: 1px solid #ffffff;
            height: rem(150px);
            width: 100%;
        }
        &__textarea {
            // border: 1px solid #ffffff;
            height: 80%;
            width: 100%;
            border-radius: rem(5px);
            &:focus {
                border: rem(3px) solid $yellow;
            }
        }
        &__checkbox-input {
            display: none;
        }
        /* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
        &__checkbox-custom {
            position: relative;
            /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
            width: rem(20px);
            /* Обязательно задаем ширину */
            height: rem(20px);
            /* Обязательно задаем высоту */
            border: rem(2px) solid $white;
            border-radius: rem(3px);
        }
        /* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
        &__checkbox-custom,
        &__checkbox-label {
            display: inline-block;
            vertical-align: middle;
        }
        /* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
        &__checkbox-input:checked+&__checkbox-custom::before {
            content: "";
            /* Добавляем наш псевдоэлемент */
            display: block;
            /* Делаем его блочным элементом */
            position: absolute;
            /* Позиционируем его абсолютным образом */
            /* Задаем расстояние от верхней, правой, нижней и левой границы */
            top: rem(2px);
            right: rem(2px);
            bottom: rem(2px);
            left: rem(2px);
            background: $orange;
            /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
            border-radius: rem(2px);
        }
        &__radio-input {
            display: none;
        }
        &__radio-custom {
            width: rem(20px);
            height: rem(20px);
            border: rem(2px) solid $white;
            background-color: $white;
            border-radius: rem(3px);
            position: relative;
        }
        &__radio-label {
            margin-right: rem(50px);
        }
        &__radio-custom,
        &__radio-label {
            display: inline-block;
            vertical-align: middle;
        }
        &__radio-input:checked+&__radio-custom::before {
            content: "";
            display: block;
            position: absolute;
            top: rem(2px);
            right: rem(2px);
            bottom: rem(2px);
            left: rem(2px);
            background: $orange;
            border-radius: rem(2px);
        }
        &__radio-custom,
        &__radio-input:checked+&__radio-custom::before {
            border-radius: 50%;
        }
        &__checkbox-span {}
    }
}

.btn--submit {
    border: none;
    padding: rem(5px) rem(10px);
    margin: 0;
    color: $white;
    text-transform: uppercase;
    margin-right: rem(30px);
}

.btn--reset {
    border: none;
    padding: rem(5px) rem(10px);
    color: $white;
    text-transform: uppercase;
    background: transparent;
}