.team {
    position: relative;
    height: 100vh;
    @extend %bg-image;
    background-image: url('../img/decor/team/SBS_1255-X2.png');
    &__board {
        // border: 1px solid #ffffff;
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        @include tablets {
            justify-content: center;
            align-items: center;
        }
    }
    &__accordion {
        // border: 1px solid #dd0707; 
        flex-grow: 1;
    }
}

.container--team {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0; // border: 1px solid #ffffff;
    width: 50%;
    background-color: $black;
    opacity: 0.93;
    @include tablets {
        width: 100%;
    }
}

.title--team {
    font-size: rem(18px);
    font-weight: 400;
    line-height: rem(28px);
    display: flex;
    align-items: center;
    transition: all 0.5s;
    &::before {
        content: "";
        display: block;
        margin-right: rem(10px);
        width: rem(9px);
        height: rem(7px);
        @extend %bg-image;
        background-image: url('../img/technical/accordion/down.png');
    }
    &:hover {
        color: $yellow;
    }
}

.accordion-team {
    color: $white;
    width: 80%; // border: 1px solid #ffffff; 
    &__section {
        display: flex;
        justify-content: center;
        height: 0;
        overflow: hidden;
        margin-top: rem(10px);
        // border: 1px solid #ffffff;
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__desc {
        flex-grow: 1;
        @include tablets {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__text {
        @include tablets {
        text-align: center;
        }
    }
    &__title {
        margin-bottom: rem(15px);
        font-weight: 600;
        @include tablets {
            margin-bottom: rem(10px);
        }
    }
    &__img {
        margin-right: rem(15px);
        width: rem(100px);
        @include tablets {
            margin: 0;
        }
    }
    &__pic {
        min-width: rem(100px);
        min-height: rem(100px);
        border-radius: 50%;
    }
    &__link {
        display: flex;
        flex-direction: column;
        @include tablets {
            justify-content: center;
            align-items: center;
        }
    }
    &__wrap--active .title--team::before {
        background-image: url('../img/technical/accordion/up.png');
    }
    &__wrap--active .title--team {
        color: $yellow;
    }
    &__wrap--active .accordion-team__section {
        min-height: rem(110px);
        @include tablets {
            min-height: rem(200px);
        }
    }
}