.we {
    height: 100vh;
    @extend %bg-image;
    background-image: url('../img/decor/we/bg.png');
    &__list {
        display: flex;
        justify-content: space-around;
        @include phones {
            flex-direction: column;
            margin-top: 20px;
        }
    }
    &__item {
        text-align: center; // border: 1px solid #000000;
        width: 30%;
        @include phones {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-around; // border: 1px solid #000000;
            margin-top: 20px; // position: relative;
        }
    }
    &__img {
        display: inline-block;
        width: rem(97px);
        height: rem(89px);
        margin-bottom: rem(35px);
        margin-top: rem(55px); // border: 1px solid #000000;
        @include phones {
            margin-top: 0;
        }
    }
    &__wrap {
        @include phones {
            width: 70%;
            text-align: left;
        }
    }
    &__text {
        // border: 1px solid #000000;
        font-family: $main-font;
        opacity: 0.8;
        color: $black;
        font-size: rem(14px);
        font-weight: 300;
        line-height: rem(24px);
    }
    &__subtitle {
        font-family: 'Lifehack-Medium';
        font-size: rem(24px);
        font-weight: 500;
        line-height: rem(28px);
        margin-bottom: rem(20px);
        opacity: 1;
    }
}

.container--we {
    // border: 1px solid #000000;
    width: 90vw;
    max-width: $view-port;
    height: 80%;
    margin: 0 auto;
}

.title--black {
    color: $black;
}