.header {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 $nav-height;
    max-width: $view-port;
    @include tablets {
        width: 95%;
    } 
}

.logo {
    &__img {
        width: rem(92px);
        height: rem(69px); //  border: 1px solid #fff;   
    }
}

svg {
    padding: 0;
    margin: 0;
}

.navigation {
    margin-left: auto;
    &__list {
        @include tablets {
            display: none;
        }
        display: flex;
    }
    &__item {
        // border: 1px solid #fff;
        margin-right: rem(17px);
        display: flex;
        align-items: center;
        &:last-child {
            margin-right: 0;
            &::after {
                content: "";
                display: none;
            }
        }
        &::after {
            content: "";
            display: block;
            margin-left: rem(17px);
            width: rem(4px);
            height: rem(4px);
            border-radius: 50%;
            background-color: $white;
        }
    }
    &__link {
        align-items: center;
        font-size: rem(13px);
        font-weight: 500;
        line-height: rem(30px);
    }
}

.order {
    &__list {
        //    border: 1px solid #fff; 
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__item {
        // border: 1px solid #fff; 
        margin-left: rem(20px);
    }
}

.btn {
    @include btn-settings;
    @include btn-background-color;
}

.menu-tablets {}

.menug {
    display: none;
    width: rem(32px);
    height: rem(32px);
    fill: $white;
    opacity: 1;
    @include tablets {
        display: block;
    }
}