// size
$view-port: 940px;
$nav-height: 90px;
//breackpoints
$tablets:768px;
$phones:480px;
// fonts
$main-font:'Ubuntu-Regular',
sans-serif;
// colors
$orange: #e45028;
$black: #2f3234;
$yellow: #f9b43b;
$white: #ffffff;
//variables of colors tag a
$a-color: $white;
$a-color-hover: $orange;
$a-color-visited: darken($a-color, 20%);
$a-color-focus: $yellow;
$a-color-active: $yellow;
//variables of colors class btn
$btn-background-color: $orange;
$btn-background-color-hover: darken($btn-background-color, 20%);
$btn-background-color-visited: $orange;
$btn-background-color-focus: $white;
$btn-background-color-active: darken($btn-background-color, 10%);