.pagescroll {
    @include tablets {
        display: none;
    } 
    position: fixed;
    top: 90px;
    right: 50px;
    width: 20px;
    z-index: 9999;
    text-align: center;
    &__list {
        // border: 1px solid #ffffff;
    }
    &__item {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        // border: 1px solid #ffffff;
        display: flex;
    }
    &__link {
        flex: 1;
        // border: 1px solid $orange;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 7px;
            height: 7px;
            background-color: $white;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover &-block {
            width: 30px;
            height: 30px;
        }
        &-block {
            position: absolute;
            width: 7px;
            height: 7px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid $white;
            border-radius: 50%;
            transition: width 0.5s, height 0.5s;
        }
        &--active &-block {
                width: 30px;
                height: 30px;
        }
    }
}